<section>
    <div class="page-header">
        <h1>New Category</h1>
        <div class="alert alert-success text-center">
            <a ui-sref="category">Category list</a>
        </div>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="addProduct(product,category.$valid)" name="category" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" name="name" data-ng-model="product.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="help-block" ng-messages="category.name.$error" ng-if="category.name.$touched">
                        <p ng-message="required" class="alert-danger">Your name is required.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea type="text" data-ng-model="product.description" id="description" class="form-control" placeholder="Description" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
